<form autocomplete="off" action="/signup" method="post">
  <input required type="text" name="username" placeholder="Username" />
  <input required type="text" name="email" placeholder="E-Mail" />
  <input required type="password" name="password" placeholder="Password" />

  <button type="submit" class="login login-submit">Sign up</button>
</form>